In [9]:
a=5
b=10
print(a+b)
type(a+b)

15

int

In [10]:
x='50'
type(x)

str

In [11]:
name = 'Gomendra'
len(name)

8

In [12]:
name[0:5]

'Gomen'

In [13]:
x=name.upper()
print(x)

GOMENDRA

In [14]:
y=x.lower()
print(y)

gomendra

In [15]:
my_list=[1, 2, 3,]
type=my_list

In [16]:
my_list=list((1,2,3 , name, 30.2, 'K'))
my_list

[1, 2, 3, 'Gomendra', 30.2, 'K']

In [17]:
len(my_list)

6

In [18]:
my_list[3]

'Gomendra'

In [19]:
my_list[5]=20
my_list

[1, 2, 3, 'Gomendra', 30.2, 20]

In [1]:
my_list.insert(0, 'Kusal')
my_list

NameError: name 'my_list' is not defined

In [2]:
k=(4, 5)
type(k)

tuple

In [3]:
name= 'Kushal'
set_1=set(name)
print(set_1)

{'u', 's', 'a', 'K', 'h', 'l'}

In [4]:
len(name)

6

In [5]:
# string, list, tuple, set