In [ ]:
# Concatenation and Replication
'Kushal'+'Bhandari'

In [2]:
# Multily string
'Kushal'*5

'KushalKushalKushalKushalKushal'

In [3]:
'Kushal'*'Bhandari'

TypeError: can't multiply sequence by non-int of type 'str'

In [5]:
str(29)
print('I am ' + str(29) + ' years old.')

I am 29 years old.

In [7]:
print('Hello ',end='')
print('World')

Hello World

In [1]:
# list
list='cat','dog','meow'
print(list)

('cat', 'dog', 'meow')

In [ ]:
print('cat','dog','meow')
print(list)

In [11]:
myList=['cat', 'dog', 'rat']
print(myList)

['cat', 'dog', 'rat']

In [12]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [15]:
list1 = ["apple", "banana", "cherry"]
type(list1)

list

In [18]:
list2 = ['abc', 34, True, 40, 'name']
type(list2)

list

In [19]:
x=list2.upper()
print(x)

AttributeError: 'list' object has no attribute 'upper'

In [20]:
# tuple-> same as list but parentheses is used instead of square brackets 
# and  cannot have their values modified, appended, or removed. 
thistuple = ('apple', 'banana', 'cherry')
print(thistuple)

('apple', 'banana', 'cherry')

In [21]:
thistuple = ('apple', 'banana', 'cherry', 'apple', 'cherry')
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [22]:
eggs = ('hello', 42, 0.5)
eggs[0]

'hello'

In [23]:
eggs[1:3]

(42, 0.5)

In [24]:
type(('name',))
# , is to know this is a tuple value

tuple

In [26]:
set('hello')

{'e', 'h', 'l', 'o'}

In [30]:
span = ['cat', 'rat', 'dog', 'pig']
print(f'The {span[1]} is afraid of {span[1]}')

The {span[1]} is afraid of {span[1]}

In [31]:
# Set -> used to store multiple items in a single variable.
# Unordered, unchangeable,non duplicate
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'cherry', 'banana'}

In [35]:
thisSet = {"apple", "banana", "cherry", True, 1, 2}
# true and 1 same

print(thisSet)

{'apple', 2, True, 'banana', 'cherry'}

In [36]:
len(thisSet)

5

In [39]:
set1 = {"abc", 34, True, 40, "male", 1}
print(set1)

{True, 34, 40, 'male', 'abc'}

In [40]:
thisset = set(("apple", "banana", "cherry"))

{'apple', 'cherry', 'banana'}

Hello, !